@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
h1
{
    font-family: 'Open Sans';
    font-size: 100px;
    color: transparent;
    text-align: center;
    letter-spacing: -15px;
    font-weight: 500;
    margin-top: 90px;
    margin-bottom: 40px;
    margin-right: 150px;
    margin-left: 80px;
}
h2
{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

#search-form
{
    text-align: center;
  
}
.round {
  width: 35%;
  border-radius: 15px;
  border: 1px rgb(205, 202, 202) solid;
  padding: 5px 5px 5px 5px;
  position: relative;
  top: 0;
  align-content: center;
  z-index: 5;
}
#ad_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 25px;
  margin-bottom: 50px;
}
#ad_label
{
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

.corner {
  top: 50px;
  left: -300px;
  height: 30px;
  width: 150px;
  z-index: 10;
  border-radius: 10px;
  border: none;
  margin: 15;
  position: relative;
}
#ad_sub
{
  height: 30px;
  min-width: 120px;
  color: white;
  background-color: rgb(72,137,241);
  border-radius: 5px;
  border-color: rgb(72,137,241);
}