{% extends "auctions/layout.html" %}

{% block body %}
<h1>Listing: {{listing}}</h1>
{% if listing.image %}
<div> <img src= "{{ listing.image.url }}", width = "800", length="500"> </div>
</br>
{% endif %}
<div style="font-size: larger;"> {{listing.description}}</div>
</br>
{% if closed %}
    <h2> 
        This listing is closed.
    </h2>
    {% if winner %}
    <h2> 
        Going once, going twice, sold! <br>
        Congratulations, {{ user }}! you won this auction.
        with the highest bid of {{ listing.bid }}$
    </h2>
    {% endif %}
{% else %}
<h2> ${{listing.bid}}</h2>

<div> {{listing.numBids}} bid(s) so far.</div>
<br>
{% if user.is_authenticated %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
</br>
<div>
    {% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">X</a>
           {{ message }}
    </div>
    {% endfor %}
</div>
    <input type ="submit" value="Place Bid" name="bid" class = "btn btn-dark">
</form>
</br>
{% if found == True %}
    <a class="btn btn-primary btn-lg" href="{% url 'addToWatchlist' listing.id %}" role="button">Remove item from your watchlist.</a> <br>
{% else %}
    <a class="btn btn-primary btn-lg" href="{% url 'addToWatchlist' listing.id %}" role="button">Add item to your watchlist.</a> <br>
{% endif %}

{% if canClose %}
<br>
    <a class="btn btn-primary btn-lg" href="{% url 'close-listing' listing.id %}" role="button">Close listing</a> <br>
    {% endif %}

{% else %}
<h3>Please login to bid.</h3>
{% endif %}
<br>

<hr>
<h2> Add a comment</h2>
<div>
    {% if user.is_authenticated %}
<form method="POST">
    {% csrf_token %}
    {{ commentForm.as_p }}
    <input type ="submit" value="Add comment" name="comment" class = "btn btn-dark">
</form>
{% else %}
    <h3>Please login to add a comment.</h3>
{% endif %}
</br>
</div>
{% if not listing.comments.all %}
    No comments yet 
{% else %}
    {% for comment in listing.comments.all %}
    <div class = "card-body">
        <h3 class = "card-title" > {{comment.name}} </h3>
        <p class="card-text">  {{ comment.text }} </p>
        <p class="card-text"> <strong> Created </strong>{{comment.date_added}} <br> </p>
    </div>
    {% endfor %}
{% endif %}
{% endif %}
<hr>
<div style="font-size: larger" >Details: 
    <ul >
        <li> Listed by: {{ listing.owner }} </li>
    </ul>
    </div>
</div>

{% endblock %}