{% extends "auctions/layout.html" %}
{% block body %}
<div class="intro-text">
    <h1>
      Welcome to commerce!
    </h1>
    <br>
    <p style="font-size: 170%; font-family:Arial, Helvetica, sans-serif">
      An e-commerce auction site that will allow you to post auction listings, place bids on listings, <br> comment on those listings, and add listings to your watchlist so that If you're watching an auction item, <br> you can quickly return and check on the status of the auction without having to search for it again.
    </p>
  </div>
  {% endblock %}